[Unit]
Description=Garage Notifier
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/garage/main.py
WorkingDirectory=/home/pi/garage/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target