[Unit]
Description=Garage Bot
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /opt/garage/bot/main.py
WorkingDirectory=/opt/garage/bot
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Environment="DISCORD_TOKEN="

[Install]
WantedBy=multi-user.target